# Ignore 'github_repos/' directory
github_repos/
saved_repos/

# Ignore '__pycache__' directories
__pycache__/

#Ignore 'crash/' directory and crash-* files
crash/
crash-*

# Ignore '*.pyc', '*.pyo' and other compiled files
*.pyc
*.pyo
*.pyd

# Ignore '.ipynb_checkpoints' directories (if using Jupyter Notebook)
.ipynb_checkpoints/

# Ignore the virtual environment directories
venv/
.env/
.envrc
.env

#Ignore mac directory
.DS_Store